In [3]:
import pandas as pd
import numpy as np
df = pd.read_pickle("d30c14b3-4039-3ad8-9cc3-025485863b7c-61939.pickle")
df = df[["type"]]
df

       type
0      WiFi
1      WiFi
2      WiFi
3      WiFi
4      WiFi
...     ...
61934  WiFi
61935  WiFi
61936  WiFi
61937  WiFi
61938  WiFi

[61939 rows x 1 columns]

In [4]:
df[(df['type'] == "WiFi")  | (df['type'] == "Mobile")].count()

type    61939
dtype: int64

In [5]:
Wifi_count = df[(df['type'] == "WiFi")].count().values[0]
print(Wifi_count)

35196

In [6]:
mobile_count = df[(df['type'] == "Mobile")].count().values[0]
print(mobile_count)

26743

In [7]:
df['subgroup'] = (df['type'] != df['type'].shift(1)).cumsum()

In [8]:
grouped_df = df.groupby('subgroup',as_index=False).apply(lambda x: (x['type'].head(1),
                                                        x.shape[0]))

In [9]:
grouped_df

0       ([WiFi], 227)
1       ([Mobile], 1)
2       ([WiFi], 120)
3       ([Mobile], 2)
4        ([WiFi], 46)
            ...
292      ([WiFi], 78)
293    ([Mobile], 46)
294      ([WiFi], 19)
295    ([Mobile], 28)
296      ([WiFi], 17)
Length: 297, dtype: object

In [16]:
grouped_df.values[295][0].values[0]

'Mobile'

In [129]:
wifi_max = 0
mobile_max = 0
for i in range(297):
    if grouped_df.values[i][1] > wifi_max and grouped_df.values[i][0].values[0] == "WiFi":
        wifi_max   = grouped_df.values[i][1]
    if grouped_df.values[i][1] > mobile_max and grouped_df.values[i][0].values[0] == "Mobile":
        mobile_max = grouped_df.values[i][1]
        
print(wifi_max)
print(mobile_max)

4511
4110